h1 {
    color:black;
    font-size: 50px;
}
body {
    background-color:grey;
}
p {
    color: black;
    font-size: 24px;
}
ul {
    color:black;
    font-size: 20px;
}
img {
    background-color: white;
}



